<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <img src="dev_core_guidelines.png"/>
      <!--
      <h3>
        <!- -<a href="{{ site.baseurl }}">- ->
        <a href="https://github.com/comux/comux.github.io">  
          Develop Core Guidelines
        </a>
      </h3>
      -->
    </div>
    <nav class="sidebar-nav">
      <small>
        {% if page.name == "DevelopCoreGuidelines.md" %}

        <div class="switch">
          <input class="tgl tgl-cpp" id="hl_button" type="checkbox"/>
          <label class="tgl-btn" data-tg-off="Turn ON syntax highlighting" data-tg-on="Turn OFF syntax highlighting" for="hl_button"></label>
        </div>
      <!-- Items have to be added manually until for now -->
      <b><a class="sidebar-nav-item active" href="#main">Top</a></b>

      <a class="sidebar-nav-item active" href="#S-introduction">In: Introduction</a>
      <a class="sidebar-nav-item active" href="#S-git">G: Git</a>
      <a class="sidebar-nav-item active" href="#S-python">P: Python</a>
      <a class="sidebar-nav-item active" href="#S-bash">B: Bash</a>
      <a class="sidebar-nav-item active" href="#S-linux">L: Linux</a>
      <a class="sidebar-nav-item active" href="#S-vim">V: Vim</a>
      <br/>
      <a class="sidebar-nav-item active" href="#S-faq">FAQ: Frequently asked questions</a>
      <a class="sidebar-nav-item active" href="#S-libraries">Appendix A: Libraries</a>
      <a class="sidebar-nav-item active" href="#S-modernizing">Appendix B: Modernizing code</a>
      <a class="sidebar-nav-item active" href="#S-discussion">Appendix C: Discussion</a>
      <a class="sidebar-nav-item active" href="#S-tools">Appendix D: Tools support</a>
      <a class="sidebar-nav-item active" href="#S-glossary">Glossary</a>
      <a class="sidebar-nav-item active" href="#S-unclassified">To-do: Unclassified proto-rules</a>
        {% else %}

      <a class="sidebar-nav-item active" href="DevelopCoreGuidelines.html">Read the Develop Core Guidelines</a>
      <br/>
      <a class="sidebar-nav-item active" href="index.html">View project README</a>
        {% endif %}

      </small>

    </nav>

    <!-- <p>Generated {{ site.time | date: '%Y-%m-%d' }}.</p> -->
  </div>
</div>
